docker/services/nodered/flows/improved_dashboard_flow.json
[
    {
        "id": "improved_dashboard_flow",
        "type": "tab",
        "label": "🏭 Dashboard TFM Mejorado",
        "disabled": false,
        "info": "Dashboard mejorado con gráficas trend y mejor presentación visual"
    },
    {
        "id": "inject_timer_improved",
        "type": "inject",
        "z": "improved_dashboard_flow",
        "name": "⏰ Actualizar cada 15s",
        "props": [{"p": "payload"}],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": 2,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 40,
        "wires": [["fetch_dashboard_summary"]]
    },
    {
        "id": "fetch_dashboard_summary",
        "type": "http request",
        "z": "improved_dashboard_flow",
        "name": "📊 Summary API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://fastapi-app:8000/dashboard/summary",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 360,
        "y": 40,
        "wires": [["split_improved_data"]]
    },
    {
        "id": "split_improved_data",
        "type": "function",
        "z": "improved_dashboard_flow",
        "name": "🔄 Procesar Datos Mejorado",
        "func": "const data = msg.payload;\nconst timestamp = new Date().getTime();\n\n// Precio energía con variación para trend\nmsg.payload = data.current?.energy_price || 0;\nmsg.topic = \"energy_price\";\nnode.send([msg, null, null, null, null]);\n\n// Temperatura\nconst tempMsg = {...msg};\ntempMsg.payload = data.current?.temperature || 0;\ntempMsg.topic = \"temperature\";\nnode.send([null, tempMsg, null, null, null]);\n\n// Humedad\nconst humMsg = {...msg};\nhumMsg.payload = data.current?.humidity || 0;\nhumMsg.topic = \"humidity\";\nnode.send([null, null, humMsg, null, null]);\n\n// Score ML Energía\nconst energyScoreMsg = {...msg};\nenergyScoreMsg.payload = data.predictions?.energy_score || 0;\nenergyScoreMsg.topic = \"energy_ml_score\";\nnode.send([null, null, null, energyScoreMsg, null]);\n\n// Estado consolidado\nconst statusMsg = {...msg};\nstatusMsg.payload = {\n    production_status: data.current?.production_status || \"🔄 Cargando...\",\n    system_status: data.status || \"🔄 Cargando...\",\n    alerts_count: data.alerts_count || 0,\n    energy_score: data.predictions?.energy_score || 0,\n    production_class: data.predictions?.production_class || \"Unknown\",\n    timestamp: data.timestamp\n};\nstatusMsg.topic = \"consolidated_status\";\nnode.send([null, null, null, null, statusMsg]);\n\nreturn null;",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 40,
        "wires": [
            ["energy_price_chart", "energy_price_gauge"],
            ["temperature_gauge"],
            ["humidity_gauge"],
            ["ml_energy_score_gauge"],
            ["consolidated_status_display"]
        ]
    },
    {
        "id": "energy_price_chart",
        "type": "ui_chart",
        "z": "improved_dashboard_flow",
        "name": "📈 Trend Precio Energía",
        "group": "energy_trends",
        "order": 1,
        "width": 8,
        "height": 6,
        "label": "Evolución Precio Energía (€/kWh)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Recopilando datos...",
        "dot": true,
        "ymin": "0.1",
        "ymax": "0.35",
        "removeOlder": 1,
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4", "#ff7f0e", "#2ca02c"],
        "outputs": 1,
        "x": 900,
        "y": 20,
        "wires": [[]]
    },
    {
        "id": "energy_price_gauge",
        "type": "ui_gauge",
        "z": "improved_dashboard_flow",
        "name": "💰 Precio Actual",
        "group": "energy_trends",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Precio Actual",
        "label": "€/kWh",
        "format": "{{value | number:3}}",
        "min": 0.05,
        "max": 0.40,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": 0.15,
        "seg2": 0.25,
        "x": 900,
        "y": 80,
        "wires": []
    },
    {
        "id": "temperature_gauge",
        "type": "ui_gauge",
        "z": "improved_dashboard_flow",
        "name": "🌡️ Temperatura Linares",
        "group": "weather_conditions",
        "order": 1,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Temperatura en Linares",
        "label": "°C",
        "format": "{{value | number:1}}",
        "min": 10,
        "max": 45,
        "colors": ["#0066cc", "#00b500", "#ca3838"],
        "seg1": 20,
        "seg2": 35,
        "x": 900,
        "y": 140,
        "wires": []
    },
    {
        "id": "humidity_gauge",
        "type": "ui_gauge",
        "z": "improved_dashboard_flow",
        "name": "💧 Humedad Relativa",
        "group": "weather_conditions",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Humedad Relativa",
        "label": "%",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": 100,
        "colors": ["#ca3838", "#00b500", "#ca3838"],
        "seg1": 40,
        "seg2": 80,
        "x": 900,
        "y": 200,
        "wires": []
    },
    {
        "id": "ml_energy_score_gauge",
        "type": "ui_gauge",
        "z": "improved_dashboard_flow",
        "name": "🤖 Score ML Energía",
        "group": "ml_analytics",
        "order": 1,
        "width": 8,
        "height": 6,
        "gtype": "gage",
        "title": "Optimización Energética (ML)",
        "label": "/100",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": 100,
        "colors": ["#ca3838", "#e6e600", "#00b500"],
        "seg1": 40,
        "seg2": 70,
        "x": 900,
        "y": 260,
        "wires": []
    },
    {
        "id": "consolidated_status_display",
        "type": "ui_template",
        "z": "improved_dashboard_flow",
        "group": "system_overview",
        "name": "📊 Panel de Estado",
        "order": 1,
        "width": 12,
        "height": 8,
        "format": "<div style=\"padding: 15px; background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); border-radius: 10px; color: white; font-family: 'Segoe UI', sans-serif;\">\n    <h2 style=\"margin: 0 0 15px 0; text-align: center; font-size: 24px;\">🏭 TFM Chocolate Factory - Estado Actual</h2>\n    \n    <div style=\"display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 15px; margin-bottom: 15px;\">\n        <div style=\"background: rgba(255,255,255,0.1); padding: 10px; border-radius: 8px; text-align: center;\">\n            <h3 style=\"margin: 0; color: #ffeb3b;\">🏭 Producción</h3>\n            <p style=\"margin: 5px 0; font-size: 18px; font-weight: bold;\">{{msg.payload.production_status}}</p>\n        </div>\n        \n        <div style=\"background: rgba(255,255,255,0.1); padding: 10px; border-radius: 8px; text-align: center;\">\n            <h3 style=\"margin: 0; color: #4caf50;\">⚙️ Sistema</h3>\n            <p style=\"margin: 5px 0; font-size: 18px; font-weight: bold;\">{{msg.payload.system_status}}</p>\n        </div>\n        \n        <div style=\"background: rgba(255,255,255,0.1); padding: 10px; border-radius: 8px; text-align: center;\">\n            <h3 style=\"margin: 0; color: #ff9800;\">🚨 Alertas</h3>\n            <p style=\"margin: 5px 0; font-size: 18px; font-weight: bold;\">{{msg.payload.alerts_count}} activas</p>\n        </div>\n    </div>\n    \n    <div style=\"display: grid; grid-template-columns: 1fr 1fr; gap: 15px;\">\n        <div style=\"background: rgba(255,255,255,0.1); padding: 10px; border-radius: 8px;\">\n            <h3 style=\"margin: 0 0 10px 0; color: #03a9f4;\">🤖 Predicción ML Energía</h3>\n            <div style=\"display: flex; align-items: center; justify-content: space-between;\">\n                <span style=\"font-size: 16px;\">Score Optimización:</span>\n                <span style=\"font-size: 20px; font-weight: bold; color: #ffeb3b;\">{{msg.payload.energy_score}}/100</span>\n            </div>\n        </div>\n        \n        <div style=\"background: rgba(255,255,255,0.1); padding: 10px; border-radius: 8px;\">\n            <h3 style=\"margin: 0 0 10px 0; color: #e91e63;\">🎯 Recomendación ML</h3>\n            <div style=\"display: flex; align-items: center; justify-content: space-between;\">\n                <span style=\"font-size: 16px;\">Clase Producción:</span>\n                <span style=\"font-size: 18px; font-weight: bold; color: #4caf50;\">{{msg.payload.production_class}}</span>\n            </div>\n        </div>\n    </div>\n    \n    <div style=\"text-align: center; margin-top: 15px; font-size: 14px; opacity: 0.8;\">\n        ⏰ Última actualización: {{msg.payload.timestamp | date:'HH:mm:ss'}}\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 920,
        "y": 320,
        "wires": [[]]
    },
    {
        "id": "detailed_info_button",
        "type": "ui_button",
        "z": "improved_dashboard_flow",
        "name": "🔍 Información Detallada",
        "group": "dashboard_controls",
        "order": 1,
        "width": 4,
        "height": 2,
        "passthru": false,
        "label": "Info Completa",
        "tooltip": "Ver información detallada, alertas y recomendaciones",
        "color": "white",
        "bgcolor": "#2196F3",
        "icon": "fa-info-circle",
        "payload": "",
        "payloadType": "str",
        "topic": "get_detailed",
        "x": 180,
        "y": 120,
        "wires": [["fetch_complete_info"]]
    },
    {
        "id": "alerts_button",
        "type": "ui_button",
        "z": "improved_dashboard_flow",
        "name": "🚨 Ver Alertas",
        "group": "dashboard_controls",
        "order": 2,
        "width": 4,
        "height": 2,
        "passthru": false,
        "label": "Alertas",
        "tooltip": "Ver todas las alertas del sistema",
        "color": "white",
        "bgcolor": "#f44336",
        "icon": "fa-exclamation-triangle",
        "payload": "",
        "payloadType": "str",
        "topic": "get_alerts",
        "x": 160,
        "y": 180,
        "wires": [["fetch_alerts_info"]]
    },
    {
        "id": "recommendations_button",
        "type": "ui_button",
        "z": "improved_dashboard_flow",
        "name": "💡 Recomendaciones",
        "group": "dashboard_controls",
        "order": 3,
        "width": 4,
        "height": 2,
        "passthru": false,
        "label": "Recomendaciones",
        "tooltip": "Ver recomendaciones operativas",
        "color": "white",
        "bgcolor": "#4CAF50",
        "icon": "fa-lightbulb-o",
        "payload": "",
        "payloadType": "str",
        "topic": "get_recommendations",
        "x": 190,
        "y": 240,
        "wires": [["fetch_recommendations_info"]]
    },
    {
        "id": "fetch_complete_info",
        "type": "http request",
        "z": "improved_dashboard_flow",
        "name": "📋 Complete API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://fastapi-app:8000/dashboard/complete",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 410,
        "y": 120,
        "wires": [["format_complete_info"]]
    },
    {
        "id": "fetch_alerts_info",
        "type": "http request",
        "z": "improved_dashboard_flow",
        "name": "🚨 Alerts API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://fastapi-app:8000/dashboard/alerts",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 400,
        "y": 180,
        "wires": [["format_alerts_info"]]
    },
    {
        "id": "fetch_recommendations_info",
        "type": "http request",
        "z": "improved_dashboard_flow",
        "name": "💡 Recommendations API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://fastapi-app:8000/dashboard/recommendations",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 450,
        "y": 240,
        "wires": [["format_recommendations_info"]]
    },
    {
        "id": "format_complete_info",
        "type": "function",
        "z": "improved_dashboard_flow",
        "name": "📄 Formatear Info Completa",
        "func": "const data = msg.payload;\nlet html = \"<div style='font-family: monospace; font-size: 12px; background: #f5f5f5; padding: 15px; border-radius: 8px; border-left: 4px solid #2196F3;'>\";\n\nhtml += \"<h3 style='color: #2196F3; margin-top: 0;'>🏭 DASHBOARD COMPLETO TFM CHOCOLATE FACTORY</h3>\";\n\nif (data.current_info) {\n    html += \"<h4 style='color: #ff9800;'>📊 INFORMACIÓN ACTUAL:</h4>\";\n    if (data.current_info.energy) {\n        html += `<p><strong>💰 Precio Energía:</strong> ${data.current_info.energy.price_eur_kwh} €/kWh</p>`;\n        html += `<p><strong>📈 Tendencia:</strong> ${data.current_info.energy.trend || 'estable'}</p>`;\n    }\n    if (data.current_info.weather) {\n        html += `<p><strong>🌡️ Temperatura:</strong> ${data.current_info.weather.temperature}°C</p>`;\n        html += `<p><strong>💧 Humedad:</strong> ${data.current_info.weather.humidity}%</p>`;\n        html += `<p><strong>🎯 Confort:</strong> ${data.current_info.weather.comfort_index || 'N/A'}</p>`;\n    }\n    html += `<p><strong>🏭 Producción:</strong> ${data.current_info.production_status}</p>`;\n}\n\nif (data.predictions) {\n    html += \"<h4 style='color: #4CAF50;'>🤖 PREDICCIONES ML:</h4>\";\n    if (data.predictions.energy_optimization) {\n        html += `<p><strong>⚡ Score Energía:</strong> ${data.predictions.energy_optimization.score}/100</p>`;\n        html += `<p><strong>💡 Recomendación:</strong> ${data.predictions.energy_optimization.recommendation}</p>`;\n    }\n    if (data.predictions.production_recommendation) {\n        html += `<p><strong>🎯 Clase Producción:</strong> ${data.predictions.production_recommendation.class}</p>`;\n        html += `<p><strong>🔧 Acción:</strong> ${data.predictions.production_recommendation.action}</p>`;\n    }\n}\n\nif (data.system_status) {\n    html += \"<h4 style='color: #9C27B0;'>⚙️ ESTADO DEL SISTEMA:</h4>\";\n    html += `<p><strong>Estado:</strong> ${data.system_status.status}</p>`;\n    if (data.system_status.data_sources) {\n        html += \"<p><strong>Fuentes de Datos:</strong></p><ul>\";\n        Object.keys(data.system_status.data_sources).forEach(source => {\n            html += `<li>${source}: ${data.system_status.data_sources[source]}</li>`;\n        });\n        html += \"</ul>\";\n    }\n}\n\nhtml += `<p style='text-align: center; margin-top: 15px; color: #666;'><strong>⏰ Última actualización:</strong> ${new Date(data.timestamp).toLocaleString()}</p>`;\nhtml += \"</div>\";\n\nmsg.payload = html;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 120,
        "wires": [["complete_info_display"]]
    },
    {
        "id": "format_alerts_info",
        "type": "function",
        "z": "improved_dashboard_flow",
        "name": "🚨 Formatear Alertas",
        "func": "const data = msg.payload;\nlet html = \"<div style='font-family: monospace; font-size: 12px; background: #fff5f5; padding: 15px; border-radius: 8px; border-left: 4px solid #f44336;'>\";\n\nhtml += \"<h3 style='color: #f44336; margin-top: 0;'>🚨 ALERTAS ACTIVAS DEL SISTEMA</h3>\";\n\nif (data.alerts && data.alerts.length > 0) {\n    data.alerts.forEach((alert, index) => {\n        const levelColor = {\n            'critical': '#d32f2f',\n            'warning': '#f57c00',\n            'high': '#ff5722',\n            'info': '#1976d2'\n        }[alert.level] || '#666';\n        \n        html += `<div style='background: rgba(0,0,0,0.05); padding: 10px; margin: 10px 0; border-radius: 5px; border-left: 3px solid ${levelColor};'>`;\n        html += `<h4 style='margin: 0; color: ${levelColor};'>Alerta ${index + 1} - ${(alert.level || 'info').toUpperCase()}</h4>`;\n        html += `<p><strong>Tipo:</strong> ${alert.type || 'General'}</p>`;\n        html += `<p><strong>Mensaje:</strong> ${alert.message}</p>`;\n        if (alert.action) {\n            html += `<p><strong>Acción requerida:</strong> ${alert.action}</p>`;\n        }\n        html += \"</div>\";\n    });\n    \n    if (data.alert_counts) {\n        html += \"<h4 style='color: #666;'>📊 RESUMEN DE ALERTAS:</h4><ul>\";\n        Object.keys(data.alert_counts).forEach(level => {\n            const count = data.alert_counts[level];\n            if (count > 0) {\n                html += `<li><strong>${level.toUpperCase()}:</strong> ${count}</li>`;\n            }\n        });\n        html += \"</ul>\";\n    }\n} else {\n    html += \"<div style='text-align: center; padding: 20px;'>\";\n    html += \"<h4 style='color: #4CAF50;'>✅ No hay alertas activas</h4>\";\n    html += \"<p>El sistema está funcionando dentro de parámetros normales.</p>\";\n    html += \"</div>\";\n}\n\nhtml += `<p style='text-align: center; margin-top: 15px; color: #666;'><strong>⏰ Actualizado:</strong> ${new Date(data.timestamp).toLocaleString()}</p>`;\nhtml += \"</div>\";\n\nmsg.payload = html;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 180,
        "wires": [["alerts_info_display"]]
    },
    {
        "id": "format_recommendations_info",
        "type": "function",
        "z": "improved_dashboard_flow",
        "name": "💡 Formatear Recomendaciones",
        "func": "const data = msg.payload;\nlet html = \"<div style='font-family: monospace; font-size: 12px; background: #f0fff4; padding: 15px; border-radius: 8px; border-left: 4px solid #4CAF50;'>\";\n\nhtml += \"<h3 style='color: #4CAF50; margin-top: 0;'>💡 RECOMENDACIONES OPERATIVAS</h3>\";\n\nif (data.recommendations) {\n    const categories = {\n        'priority': '🔥 PRIORIDAD ALTA',\n        'energy': '⚡ ENERGÍA',\n        'production': '🏭 PRODUCCIÓN',\n        'maintenance': '🔧 MANTENIMIENTO'\n    };\n    \n    let hasRecommendations = false;\n    \n    Object.keys(categories).forEach(category => {\n        const recs = data.recommendations[category];\n        if (recs && Array.isArray(recs) && recs.length > 0) {\n            hasRecommendations = true;\n            html += `<h4 style='color: #388e3c;'>${categories[category]}:</h4><ul>`;\n            recs.forEach(rec => {\n                html += `<li>${rec}</li>`;\n            });\n            html += \"</ul>\";\n        }\n    });\n    \n    if (!hasRecommendations) {\n        html += \"<div style='text-align: center; padding: 20px;'>\";\n        html += \"<h4 style='color: #4CAF50;'>ℹ️ Sistema Optimizado</h4>\";\n        html += \"<p>No hay recomendaciones específicas en este momento.<br>El sistema está operando de manera óptima.</p>\";\n        html += \"</div>\";\n    } else if (data.total_recommendations > 0) {\n        html += \"<div style='background: rgba(0,0,0,0.05); padding: 10px; margin: 10px 0; border-radius: 5px;'>\";\n        html += \"<h4 style='margin: 0; color: #388e3c;'>📊 ESTADÍSTICAS:</h4>\";\n        html += `<p><strong>Total de recomendaciones:</strong> ${data.total_recommendations}</p>`;\n        html += `<p><strong>Recomendaciones prioritarias:</strong> ${data.priority_count}</p>`;\n        html += \"</div>\";\n    }\n} else {\n    html += \"<div style='text-align: center; padding: 20px;'>\";\n    html += \"<h4 style='color: #4CAF50;'>ℹ️ Sistema Optimizado</h4>\";\n    html += \"<p>No hay recomendaciones específicas disponibles.</p>\";\n    html += \"</div>\";\n}\n\nhtml += `<p style='text-align: center; margin-top: 15px; color: #666;'><strong>⏰ Actualizado:</strong> ${new Date(data.timestamp).toLocaleString()}</p>`;\nhtml += \"</div>\";\n\nmsg.payload = html;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 240,
        "wires": [["recommendations_info_display"]]
    },
    {
        "id": "complete_info_display",
        "type": "ui_template",
        "z": "improved_dashboard_flow",
        "group": "detailed_information",
        "name": "📋 Información Completa",
        "order": 1,
        "width": 12,
        "height": 8,
        "format": "{{{msg.payload}}}",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 940,
        "y": 120,
        "wires": [[]]
    },
    {
        "id": "alerts_info_display",
        "type": "ui_template",
        "z": "improved_dashboard_flow",
        "group": "detailed_information",
        "name": "🚨 Alertas Detalladas",
        "order": 2,
        "width": 12,
        "height": 6,
        "format": "{{{msg.payload}}}",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 930,
        "y": 180,
        "wires": [[]]
    },
    {
        "id": "recommendations_info_display",
        "type": "ui_template",
        "z": "improved_dashboard_flow",
        "group": "detailed_information",
        "name": "💡 Recomendaciones Detalladas",
        "order": 3,
        "width": 12,
        "height": 6,
        "format": "{{{msg.payload}}}",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 970,
        "y": 240,
        "wires": [[]]
    },
    {
        "id": "energy_trends",
        "type": "ui_group",
        "name": "📈 Tendencias Energéticas",
        "tab": "improved_chocolate_dashboard",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "weather_conditions",
        "type": "ui_group",
        "name": "🌡️ Condiciones Meteorológicas",
        "tab": "improved_chocolate_dashboard",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ml_analytics",
        "type": "ui_group",
        "name": "🤖 Analítica ML",
        "tab": "improved_chocolate_dashboard",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "system_overview",
        "type": "ui_group",
        "name": "📊 Resumen del Sistema",
        "tab": "improved_chocolate_dashboard",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "dashboard_controls",
        "type": "ui_group",
        "name": "🎛️ Controles del Dashboard",
        "tab": "improved_chocolate_dashboard",
        "order": 5,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "detailed_information",
        "type": "ui_group",
        "name": "📋 Información Detallada",
        "tab": "improved_chocolate_dashboard",
        "order": 6,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "improved_chocolate_dashboard",
        "type": "ui_tab",
        "name": "🏭 TFM Chocolate Factory Pro",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]